---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="flex gap-4 max-md:flex-col">
    <img
      alt="lovely mountains"
      src="/images/pexels-gerasimos-kechagias-19408371.jpg"
      src="https://i.imgflip.com/8a92hw.jpg"
      class="float-left rounded"
    />
    <p>
      Attack feet behind the couch destroy couch flop over give attitude hide
      when guests come over hopped up on goofballs hunt anything that moves ,
      intrigued by the shower inspect anything brought into the house rub face
      on everything flop over need to chase tail chase mice intently stare at
      the same spot, leave dead animals as gifts make muffins all of a sudden go
      crazy claw drapes why must they do that stand in front of the computer
      screen all of a sudden go crazy. claw drapes behind the couch all of a
      sudden go crazy give attitude rub face on everything leave dead animals as
      gifts attack feet intently stare at the same spot destroy couch need to
      chase tail, why must they do that make muffins inspect anything brought
      into the house intrigued by the shower flop over chase mice stand in front
      of the computer screen hide when guests come over flop over, hunt anything
      that moves.
    </p>
  </div>
</Layout>
