---
import { ViewTransitions } from "astro:transitions";
import classNames from "classnames";
import "../styles.css";
import { formatDateTime } from "../utils/date.ts";

interface Props {
  title: string;
}

const pathname = Astro.url.pathname;
const { title } = Astro.props;
const isHome = pathname === "/";
const isAbout = pathname === "/about";
const isForm = pathname === "/form";
const isPosts = pathname === "/posts";
---

<!doctype html>
<html id="body" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body
    class="bg-slate-100 dark:bg-slate-600"
    hx-boost="true"
    onload="utils.init()"
  >
    <header class="relative">
      <nav class="nav flex gap-1">
        <a class={classNames({ active: isHome })} href="/">Home</a>
        <a class={classNames({ active: isAbout })} href="/about">About</a>
        <a class={classNames({ active: isForm })} href="/form">Form</a>
        <a class={classNames({ active: isPosts })} href="/posts">Posts</a>
      </nav>
      <label
        for="theme-toggle"
        class="absolute flex items-center top-3 right-4 text-2xl"
        >🌞
        <input
          id="theme-toggle"
          onchange="utils.toggleTheme()"
          type="checkbox"
          class="mx-1"
        />
      </label>
    </header>
    <main class="p-4 max-w-5xl m-auto">
      <div>
        <h1 class="text-2xl text font-bold border-b-2 mb-2">{title}</h1>
        <main class="mt-4">
          <slot />
        </main>
      </div>
      <div
        class="clear-both pt-4"
        hx-get="/partials/time"
        hx-trigger="every 1m"
      >
        <p class="font-bold">Server Time: {formatDateTime(new Date())}</p>
      </div>
    </main>
    <script src="../scripts/index.ts"></script>
  </body>
</html>
